* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
    color: #ff2400;
}

.up-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 12vh;
    color: #ff2240;
    font-weight: 900;
    border-bottom: 3px solid #ff2240;
}

.up-panel .links{
    background-color: transparent;
}

.up-panel .links a{
    text-decoration: none;
    color: #ff2400;
    font-size: 1.33em;
}

.up-panel .links a:hover, .up-panel .links:hover{
    text-decoration: underline solid #ff2400;
    transform: scale(1.05);
}

.up-panel .links a:hover, .up-panel .links:hover {
    transition: transform .5s ease;
}

.up-panel .logo img{
    height: 70px;
}

.up-panel .logo-tip{
    font-size: 2em;
}

aside {
    max-height: 184vh;
    min-height: 85vh;
    width: 15%;
    float: left;
    background-color: white;
    display: table;
}

aside div {
    width: 100%;
}

aside div.big {
    margin: 10px 20px 10px 0;
    font-size: 2.0em;
    font-style: bold;
    padding-left: 30px;
}

aside div.small {
    font-size: 1.4em;
    height: 39px;
}

aside div.small a:hover {
    color: white;
    background: #ff2400;
}

aside div.small a {
    text-decoration: none;
    color: #ff2400;
    display: block;
    height: 100%;
    padding-left: 30px;
}

.content {
    min-height: 78vh;
    max-height: 200vh;
    background-color: white;
    border-up: 3px solid #ff2400;
    border-left: 3px solid #ff2240;
}

footer {
    position: absolute;
    height: 10vh;
    width: 100%;
    background-color: #181818;
}

footer .footer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .footer .author {
    color: white;
    font-size: 1.2em;
    text-decoration: underline solid white;
}

.ft {
    width: 100%;
    text-align: center;
}
.ft h1 {
    padding-top: 13px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.card {
    color: black;
    width: 29%;
    height: 47.5vh;
    margin: 20px 20px 30px 27px;
    border: 0;
    box-shadow: 2px 2px 2px 2px rgba(220, 20, 60, .2);
    border-left: 2px solid rgba(220, 20, 60, .2);
    border-top: 2px solid rgba(220, 20, 60, .2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card div {
    padding-left: 10px;
    padding-right: 7px;
}

.card p {
    margin: 0;
}

.card img{
    height: 140px;
    margin-bottom: 14px;
    margin-top: 7px;
    border: 3px solid #151719;
    border-radius: 15px;
    transition: transform .35s ease;
}

.card img:hover{
    transform: scale(1.25)
}

.card .info{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.11em;
    width: 100%
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.product {
    height: 78vh;
    display: flex;
    font-size: 1.3em;
}

.product .section-left{
    width: 49%;
    border-right: 3px solid #ff2400;
}

.product .section-right{
    width: 51%;
}

.product .detail-text{
    text-align: center;
    margin: 20px 25px 17px 25px;
}

.product div.detail-text a{
    margin: 15px 40px 0 0;
}

.product .image {
    display: flex;
    justify-content: center;
}

.product img {
    height: 40vh;
    margin: 30px 0 15px 0;
    border: 3px solid #151719;
    border-radius: 20px;
}

.paginator {
    height: 50px;
    margin: 20px 0 0 0;
    text-align: center;
}

.paginator a {
    margin: 0 7px 0 7px;
    transition: transform .5 ease;
}

.paginator a:hover {
    transform: scale(1.15);
}

.cart {
    min-height: 78vh;
    width: 100%;
}

.cart table {
    margin: 4vh 15vw 0 15vw;
    border-radius: 30px;
}

.cart tr {
    width: 70vw;
}

.cart tr th {
    height: 7vh;
    width: calc(100% / 5);
    text-align: center;
    font-size: 1.7em;
    color: white;
    font-weight: 550;
    background-color: #ff0000;
}

.cart tr td {
    height: 11vh;
    width: calc(100% / 5);
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
    border: 2px solid silver;;
}

.cart tr td img {
    height: 8vh;
    border: 3px solid #151719;
    border-radius: 5px;
    transition: transform .35s ease;
}

.cart tr td img:hover {
    transform: scale(1.17)
}

.cart tr td .btn {
    color: #ff2400;
    text-decoration: none;
    font-weight: 800;
}

.cart tr td .btn:hover {
    text-decoration: underline solid #ff2400;
}

.finish {
    margin: 3vh 15vw 3vh 15vw;
    width: 70vw;
    display: flex;
    justify-content: space-around;
}

.word {
    font-weight: 800;
    font-size: 2em;
}

.finish-buttons a {
    margin-right: 50px;
}

.cart-delete {
    margin: 3vh 0 0 0;
    text-align: center;
}

.form-view, .success {
    min-height: 78vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-view .input .login{
    width: 313px;
}

.form-view .input .register {
    width: 365px;
}

.form-view label {
    font-weight: 540;
    font-size: 1.33em;
}

.field {
    margin: 25px 0 25px 0;
}

.profile {
    width: 50%;
    height: 78vh;
    display: flex;
    margin-left: 25%;
    border-left: 2px solid #ff2400;
    border-right: 2px solid #ff2400;
    background-color: white;
    font-size: 1.3em;
}

.profile-content {
    width: 100%
}

.profile img {
    height: 140px;
    width: 140px;
    border: 3px solid #ff2400;
    border-radius: 10px;
}

.profile .info {
    width: 100%;
    margin: 13px 0 13px 44px;
}
.profile a{
    text-decoration: none;
    color: #ff2400;
    font-weight: 800;
}

.profile a:hover {
    text-decoration: underline solid #ff2400;
}

.up-img {
    height: 33px;
    width: 33px;
    margin: 0 7px 0 5px;
    border: 2px solid #ff2400;
    border-radius: 3px;
}

.success div {
    width: 500px;
    height: 300px;
    text-align: center;
    backdrop-filter: blur(15px);
    border: 3px solid #ff2400;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
}

.success div a, .order-preview a{
    text-decoration: none;
    color: #ff2400;
}

.success div a:hover, .order-preview a:hover {
    text-decoration: underline solid #ff2400;
}

.order-preview {
    text-align: center;
    margin: 0 0 0 130px;
    padding: 10px 15px 10px 15px;
    backdrop-filter: blur(15px);
    border: 3px solid silver;
    border-radius: 15px;
    font-size: 1.11em;
}

.order-preview li {
    list-style-type: none;
    margin: 10px 20px 10px 0;
}

.orders-show {
    text-align: center;
    min-height: 78vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.orders-show h2 {
    padding: 20px 0 0 0;
}

.orders-show div.order-paid, .orders-show div.order-not-paid {
    margin: 20px 0 30px 0;
    backdrop-filter: blur(15px);
    border: 3px solid silver;
    border-radius: 20px;
    width: 620px;
}

.orders-show h4 {
    margin: 13px 0 13px 0;
}

.orders-show a {
    margin-left: 30px;
}

.orders-show .pag a{
    margin: 0 5px 0 5px;
}

.order-paid {
    color: black;
}

.favorites {
    text-align: center;
    padding: 11px 0 66px 0;
    min-height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favorites h2 {
    padding-bottom: 20px;
}

.fav-item {
    width: 40vw;
    height: 77px;
    border: 3px solid silver;
    margin: 10px 0 20px 0;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    font-size: 1.3em;
    padding-top: 11px;
    font-weight: 500;
}

.fav-item a{
    color: red;
    text-decoration: none;
    font-weight: 700;
}

.fav-item a:hover {
    text-decoration: underline solid #ff2400;
}

.fav-item img {
    height: 50px;
    border: 1px solid #ff2400;
    border-radius: 7px;
    margin: 0 5px 0 0;
}