SECRET_KEY=django-insecure-change-me

# OAuth
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=
SOCIAL_AUTH_GITHUB_KEY=
SOCIAL_AUTH_GITHUB_SECRET=

# Email (Gmail app password)
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_API_VERSION=2023-10-16
STRIPE_WEBHOOK_SECRET=
