{% load static %}
{% load home_tags %}

<div class="card" style="background: url('{% static 'main/img/card-bg.jpg' %}')no-repeat;
background-position: center;
background-size: cover;">
    <div class="image"><a href="{{ product.get_absolute_url }}"><img src="{% if product.image %}
    {{ product.image.url }}{% else %}{% static 'main/img/no-image.jpg' %}{% endif %}"></a></div>
    <div class="info"><b>{{ product.name|cut:25 }}</b></div>
    <div class="info">{{ product.description|linebreaks|cut:55 }}</div>
    <div class="info"><b>Цена: </b> {{ product.price }} руб.</div>
    <div class="info">
        {% show_fav_item product favorites %}
        {% show_cart_item product cart %}
    </div>
</div>

