{% load static %}
{% load home_tags %}

<div class="card" style="background: url('{% static 'main/img/card-bg.jpg' %}')no-repeat;
background-position: center;
background-size: cover;">
    <div class="image"><a href="{{ product.get_absolute_url }}"><img src="{% if product.image %}
    {{ product.image.url }}{% else %}{% static 'main/img/no-image.jpg' %}{% endif %}"></a></div>
    <div class="info"><b>{{ product.name|cut:25 }}</b></div>
    <div class="info">{{ product.description|linebreaks|cut:55 }}</div>
    <div class="info"><b>Цена: </b> {{ product.price }} руб.</div>
    <div class="info">
        {% if product.id|to_str in favorites.get_ids %}
            <a href="{% url 'delete_fav' product.id %}" style="margin: 0 40px 0 40px"><i class="fa-solid fa-heart fa-xl"></i></a>
        {% else %}
            <a href="{% url 'add_fav' product.id %}" style="margin: 0 40px 0 40px"><i class="fa-regular fa-heart fa-xl"></i></a>
        {% endif %}
        {% if product.id|to_str in cart.get_ids %}
            <a href="{% url 'cart_delete' product.id %}" class="btn btn-secondary">Удалить из корзины</a>
        {% else %}
            <a href="{% url 'cart_add' product.id %}" class="btn btn-dark" >Добавить в корзину</a>
        {% endif %}
    </div>
</div>

