{% if page_obj.has_other_pages %}
    <div class="paginator">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-dark">&lt</a>
        {% endif %}

        {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
                <a href="" class="disabled"><button class="btn btn-danger" disabled style="pointer-events: none; cursor: default;">{{ p }}</button></a>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                <a href="?page={{ p }}" class="btn btn-outline-danger">{{ p }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-dark">&gt</a>
        {% endif %}
    </div>
{% endif %}