{% extends 'main/base.html' %}
{% load static %}
{% load home_tags %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="product" style="background: url('{% static 'main/img/content-bg3.jpg' %}')no-repeat;
    background-position: center;
    background-size: cover;">
        <div class="section-left">
            <div class="image"><div><img src="{% if product.image %}
            {{ product.image.url }}{% else %}{% static 'main/img/no-image.jpg' %}{% endif %}"></div></div>
            <div class="detail-text"><b>Артикул: </b> {{ product.id }}</div>
            <div class="detail-text"><b>Цена: </b> {{ product.price }} руб.</div>
        </div>
        <div class="section-right">
            <div class="detail-text"><h2><b>{{ product.name }}</b></h2></div>
            <div class="detail-text">{{ product.description|linebreaks }}</div>
            <div class="detail-text">
                {% if product.id|to_str in favorites.get_ids %}
                    <a href="{% url 'delete_fav' product.id %}" style="margin: 30px 30px 0 30px;"><i class="fa-solid fa-heart fa-xl"></i></a>
                {% else %}
                    <a href="{% url 'add_fav' product.id %}" style="margin: 30px 30px 0 30px;"><i class="fa-regular fa-heart fa-xl"></i></a>
                {% endif %}
                {% if product.id|to_str in cart.get_ids %}
                    <a href="{% url 'cart_detail' %}" class="btn btn-secondary" style="margin-bottom: 13px;">Перейти в корзину</a>
                {% else %}
                    <a href="{% url 'cart_add' product.id %}" class="btn btn-dark" style="margin-bottom: 13px;">Добавить в корзину</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}