{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="form-view">
    <div class="input" style="text-align: center;">
        <h3 style="padding: 0 0 10px 0;">Регистрация</h3>
        <form action="" method="post" class="register">
            {% csrf_token %}
            {{ form|crispy }}
            <h3><button type="submit" class="btn btn-outline-info" style="margin: 10px 0 10px 20px; text-align: center;">Зарегистрироваться</button></h3>
        </form>
    </div>
</div>
{% endblock %}