{% extends 'main/base.html' %}
{% load static %}
{% load home_tags %}

{% block title %}Мои заказы{% endblock %}

{% block content %}
    <div class="orders-show">
        <h2>Заказы</h2>
        <div class="pag">{% show_pag page_obj paginator %}</div>
        {% for order in orders %}
            {% if not order.paid %}
                <div class="order-not-paid"
                style="background: url('{% static 'main/img/order-bg.jpg' %}');
                background-size: cover;">
                    <h4>Заказ номер {{ order.id }}: товаров - {{ order.get_total_quantity }}
                         >>> {{ order.get_total_sum }} руб.</h4>
                    <h4>Статус: <b> Не оплачено</b>
                    <a href="{% url 'order_payment' order.id %}" class="btn btn-outline-secondary">Оплатить</a></h4>
                </div>
            {% else %}
                <div class="order-paid" style="background: url('{% static 'main/img/order-bg.jpg' %}');
                background-size: cover;">
                    <h4 style="color: #808080;">Заказ номер {{ order.id }}: товаров - {{ order.orderitem_set.count }}
                         >>> {{ order.get_total_sum }} руб.</h4>
                    <h4 style="color: #808080;">Статус: <b style="color: #808080;"> Оплачено</b></h4>
                    <h4 style="color: #808080;"><b style="color: #808080;">Заказ завершен</b>
                    <a href="{% url 'order_delete' order.id %}" class="btn btn-outline-danger">Удалить данные о заказе</a></h4>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}