{% extends 'main/base.html' %}

{% block title %}Оформление заказа успешно{% endblock %}

{% block content %}
    <div class="success">
        <div class="words">
            <div>
                <p>Ваш заказ на сумму <b>{{ order.get_total_sum }} руб.</b> был сформирован успешно!</p>
                <p>Номер заказа: <b>{{ order.id }}</b></p>
                <p><a href="{% url 'order_show' %}"><b>Здесь</b></a> вы можете найти ваш заказ и оплатить его</p>
            </div>
        </div>
    </div>
{% endblock %}