{% extends 'main/base.html' %}

{% block title %}Транзакция прошла успешно{% endblock %}

{% block content %}
    <div class="success">
        <div class="words">
            <div>
                <p>Транзакция заказа номер <b>{{ request.session.order_id }}</b> прошла успешно!</p>
                <p>Спасибо за покупку!</p>
                <p>Ожидайте заказ в ближайшее время.</p>
                <p><a href="{% url 'order_show' %}"><b>Ваши заказы</b></a></p>
            </div>
        </div>
    </div>
{% endblock %}