{% extends 'main/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="form-view">
    <div class="input" style="text-align: center;">
        <h3 style="padding: 20px 0 10px 0;">Регистрация</h3>
        <form action="" method="post" class="register">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="field">
                    {{ field }}
                </div>
                {{ field.errors }}
            {% endfor %}
            <h3><button type="submit" class="btn btn-outline-danger" style="margin: 10px 0 30px 20px; text-align: center;">Зарегистрироваться</button></h3>
        </form>
    </div>
</div>
{% endblock %}